.Projects-Container {
  margin: 0 auto;
  max-width: 80%;
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  ul li {
    margin: 2rem;
    list-style: none;
  }
  @media (max-width: 1270px) {
    ul {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-left: -5rem;
    }
  }
}

.project-h1-img {
  max-width: 30%;
  margin-bottom: -5rem;

  &:hover {
    // -webkit-filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.601));
    filter: drop-shadow(5px 5px 5px rgba(255, 253, 253, 0.43));
  }
}
@media (max-width: 1200px) {
  .project-h1-img {
    max-width: 30%;
    margin-bottom: -2rem;
  }
}
